body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Karla', serif;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-page__start {
    height: 100vh;
    width: 100%;
    color: #259C8B;
}

.navbar-container {
    height: 5rem;
}
