body {
    display: flex;
    flex-direction: column;
    font-family: 'Karla', serif;
    color: #666666;
    box-sizing: border-box;
    height: 100%;
    font-size: 1.5rem;
    line-height: 1.5;

}

.home-page-container {
    display: flex;
    flex-direction: column;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container > .logo {
    display: flex;
    width: 3rem;
    height: 3rem;
}

.navbar__menu-container>ul {
    display: flex;
    flex-direction: row;
}
.navbar__menu-container>ul>li{
    margin: 1rem;
}

//home-page
.home-page__start-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.main-image{
    display: flex;
    flex: 3 1 70%;
}


.main-header {
    display: flex;

}



.main-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin: 0 5rem;
}

.main-description__text {
    display: flex;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    line-height: 2.5rem;
    color: #1B1E1F;
}

.main-menu__element:hover {
    text-shadow: -2px 2px 0px #E3CEC6;
}

.home-page__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page-section__header {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    justify-content: center;
    text-align: center;
    color: #3b99e0!important;
    margin: 1rem;
    text-transform: uppercase;
}

.home-page-section__text {
    display: flex;
    justify-content: center;
    margin: 0 10rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 5rem;
}

.services-container__internal {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.services-container__column {
    display: flex;
    margin: 0 0 1rem 0;

}

.container-header {
    display: flex;
    line-height: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    justify-content: center;
}

.services-container__row {
    display: flex;
    flex-direction: column;
}

.service-container {
    display: flex;
    flex-direction: column;

}

.service-description {
    display: flex;
    text-align: center;
}

.internal-description {
    display: flex;
}

.works-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.work-container__row {
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    }
    &:nth-child(2) {
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    }
    &:nth-child(3) {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    }
}

.project-image {
    display: flex;
    width: 20rem;
}

.project-description__text {
    display: flex;
}

.project-button {
    display: flex;
    justify-content: center;
    width: 6rem;
    border: 1px solid #3b99e0;
    background-color: white;
    color: #3b99e0;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    border-radius: .3rem;
    font-weight: 900;
    text-shadow: none;
    transition: all 150ms ease-in;
    box-shadow: none;
    text-transform: uppercase;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5rem;
    line-height: 0.5rem;
}

.contact-form > * {
    padding: 2rem;
    border-radius: .3rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.about-container__row {
    display: flex;
    flex-direction: column;
}

.photo {
    display: flex;
    margin: auto;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.bio-container {
    display: flex;
    flex-direction: column;
}

.bio {
    display: flex;
    text-align: center;
    margin: 1rem;
}

.role {
    margin: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35vh;
    padding: 5rem;
    color: white;
    background-color: #63687D;
    line-height: 2rem;
}

.footer>column {
    display: flex;
    margin: 1rem;

    &> {
        display: flex;
        flex-direction: column;
    }
}

.footer__header {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.7rem;
}

.contact-button {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    border-radius: .3rem;
    font-weight: 900;
    text-shadow: none;
    transition: all 150ms ease-in;
    box-shadow: none;
    text-transform: uppercase;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.contact-button:hover {

}