body {
    display: flex;
    flex-direction: column;
    font-family: 'Karla', serif;
}

.home-page-container {
    display: flex;
    flex-direction: column;
}

.home-page__start {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-image {
    display: flex;
    background-color: #259C8B;
    flex: 1;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.navbar__menu-container > ul{
    display: flex;
    flex-direction: row;
}

.main-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
}

.main-description > * {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.main-description__left-column {
    font-weight: 600;
    font-size: 2rem;
}
.main-description__right-column > * {
    display: flex;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.main-description__right-column__contact-link {
    display: flex;
    margin: 1rem 0;
    color: #259C8B;
}

.main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-page__section {
    display: flex;
    margin: 1rem;
}

.home-page__section > * {
    display: flex;

}

.footer {
    display: flex;
    height: 35vh;
    color: white;
    background-color: #259C8B;
    
}

.home-page__section {
    display: flex;
    flex-direction: column;
}