a {
  color: inherit; }

/* Original reset file */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative; }

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Karla', serif;
  color: #666666; }

.home-page-container {
  display: flex;
  flex-direction: column; }

.home-page__start {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.main-image {
  display: flex;
  background-color: #259C8B;
  flex: 1 0 60%; }

.navbar-container {
  display: flex;
  flex-direction: row;
  height: 3rem; }

.navbar__menu-container > ul {
  display: flex;
  flex-direction: row; }

.main-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 35%; }

.main-description > * {
  display: flex;
  flex-direction: column;
  margin: 1rem; }

.main-description__left-column {
  font-weight: 600;
  font-size: 1.7rem; }

.main-description__right-column__text {
  color: #666; }

.main-description__right-column > * {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.7rem; }

.main-description__right-column__contact-link {
  display: flex;
  margin: 1rem 0; }

.main-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #1B1E1F; }

.main-menu:hover {
  text-shadow: -2px 2px 0px #E3CEC6; }

.home-page__section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0; }

.home-page__section > * {
  display: flex; }

.footer {
  display: flex;
  height: 35vh;
  color: white;
  background-color: #259C8B; }

.home-page__section__header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.5rem; }

.services-container {
  display: flex;
  flex-direction: column; }

.service__container {
  display: flex; }

.service__container--first {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #CFD7DC;
  color: black; }

.service__container--second {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black; }

.service__container--third {
  display: flex;
  flex-direction: column;
  background-color: #59C1B6;
  color: white; }

.service__header {
  display: flex;
  font-size: 2rem;
  line-height: 2rem; }

.service__description {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.5rem; }

/*# sourceMappingURL=main.css.map */
